p  {
    color: red;
    font-size: 20px;
}

#main {
    width:700px;
    margin: 0px  auto;
}

ul{
    list-style-type: none;
    background-color: blue;
    font-size: 20px;
}

li{
    width: 40px;
    height: 40px;
    float: left;
    
}