p  {
    color: red;
    font-size: 20px;
}

#main {
    width:1000px;
    margin: 0px  auto;
}

#nav{
    list-style-type: none;
   
    font-size: 20px;
}

#nav>li{
    width: 80px;
    height: 150px;
    float: left;
     background-color: blue;
     color: red;


}