p  {
    color: red;
    font-size: 20px;
}

#main {
    width:1000px;
    margin: 0px  auto;
}

#nav{
    list-style-type: none;
    background-color: blue;
    font-size: 20px;
}

#nav>li{
    width: 250px;
    height: 250px;
    float: left;

}